/* VARIABLES */

:root {
  --main-text-color: #333;
  --text-color: #949494;
  --main-white-color: #fff;
  --main-link-hover-color: #FFBD54;
  --main-font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
    url("../fonts/FuturaPT-Light.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("../fonts/FuturaPT-Bold.woff") format("woff");
}

/* GENERAL */

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  background-image: url("../images/body-bgi.png");
  background-position: calc(50%) 108px;
  background-color: #f9f9f9;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* SITE HEADER START */

.site-header__top {
  padding: 11px 0 9px 0;
  background-color: #F9F8F8;
}

.site-header__top-inner {
  display: flex;
  align-items: center;
  width: 1118px;
  margin-left: auto;
}

.site-address {
  font-style: normal;
}

.site-address__link {
  display: flex;
  align-items: center;
  margin-right: 106px;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
}

.site-address__link::before {
  margin-right: 9px;
  width: 14px;
  height: 13px;
  content: "";
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.site-tel {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-tel__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
  transition: all 0.5s ease;
}

.site-tel::before {
  margin-right: 9px;
  width: 13px;
  height: 13px;
  content: "";
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.site-tel__link:hover {
  color: var(--main-link-hover-color);
  transition: all 0.5s ease;
}

.site-tel__link:active {
  color: var(--main-text-color);
  opacity: 0.6;
  transition: all 0.5s ease;
}

.site-tel__link:not(:last-child) {
  margin-right: 9px;
}

.site-tel__link:not(:first-child)::before {
  margin-right: 9px;
  width: 4px;
  height: 4px;
  content: "";
  background-color: var(--main-link-hover-color);
  border-radius: 50%;
}

.site-time {
  display: flex;
  align-items: center;
}

.site-time__tag {
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
}

.site-time__strong {
  margin-right: 4px;
}

.site-time__tag:first-child {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.site-time__tag:first-child::before {
  margin-right: 7px;
  width: 14px;
  height: 14px;
  content: "";
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.site-header__main {
  padding: 15px 0 20px 0;
  background: var(--main-white-color);
  border: 1px solid #F3F3F3;
}

.site-header__main-inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  position: absolute;
  top: -34px;
  left: 0;
  z-index: 3;
  width: 178px;
  height: 86px;
}

.site-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 295px;
  width: 725px;
}

.site-nav__item:not(:nth-child(6)) {
  margin-right: 55px;
}

.site-nav__link {
  display: inline-block;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-text-color);
  border-bottom: 4px solid transparent;
  transition: all 0.5s ease;
}

.site-nav__link:hover {
  border-bottom: 4px solid #F4FFAD;
  transition: all 0.5s ease;
}

.site-nav__link:active {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.site-nav__link--main {
  display: flex;
  align-items: center;
}

.site-nav__link--main::before {
  margin-right: 12px;
  width: 18px;
  height: 14px;
  content: "";
  background-image: url("../images/fish.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.question-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question-link::before {
  margin-right: 5px;
  width: 23px;
  height: 21px;
  content: "";
  background-image: url("../images/pet.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* HERO SECTION START */

.hero {
  padding-top: 153px;
  padding-bottom: 290px;
  background-image: url("../images/hero-bgi.png"), url("../images/parrot.png");
  background-repeat: no-repeat;
  background-size: 870px 834px, 350px 430px;
  background-position: calc(50% - 485px) -100px, calc(50% + 635px) 396px;
}

.hero__info {
  width: 608px;
  margin-right: 25px;
  margin-left: auto;
}

.hero__title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: var(--font-weight-bold);
  font-size: 70px;
  line-height: 64px;
  color: var(--main-text-color);
}

.hero__title-span {
  color: #78C0DE;
}

.hero__text-box {
  width: 495px;
}

.hero__text {
  margin: 0;
  margin-bottom: 38px;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 21px;
  color: #949494;
}

.hero__link {
  display: inline-block;
  padding: 15px 48px 16px 47px;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-white-color);
  background: var(--main-text-color);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.hero__link:hover {
  color: var(--main-text-color);
  background-color: var(--main-link-hover-color);
  transition: all 0.3s ease;
}

.hero__link:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* QUOTE SECTION START */

.quote {
  padding-top: 21px;
}

.quote__info {
  position: relative;
  z-index: 1;
  width: 753px;
  margin: 0 auto;
  text-align: center;
}

.quote__info::before {
  position: absolute;
  top: 5%;
  left: -15%;
  z-index: 3;
  width: 50px;
  height: 42px;
  content: "";
  background-image: url("../images/quote-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.quote__info::after {
  position: absolute;
  top: 38%;
  right: -14%;
  z-index: 3;
  width: 50px;
  height: 42px;
  content: "";
  background-image: url("../images/quote-bottom.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.quote__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.quote__text::before {
  display: block;
  margin-bottom: 43px;
  margin-left: 270px;
  width: 140px;
  height: 1px;
  content: "";
  background-color: #DBDBDB;
}

.quote__text::after {
  display: block;
  margin-top: 35px;
  margin-left: 270px;
  width: 140px;
  height: 1px;
  content: "";
  background-color: #DBDBDB;
}

.quote__heading {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: var(--main-text-color)\;
}

/* SERVICES SECTION START */

.services {
  margin-bottom: 108px;
  padding-top: 191px;
  padding-bottom: 127px;
}

.services__inner {
  position: relative;
  z-index: 1;
  text-align: center;
}

.services__btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(28%);
  z-index: 3;
  background-color: transparent;
  background-size: 14px 26px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.services__btn:hover {
  background-color: var(--main-white-color);
}

.services__btn:active {
  opacity: 0.6;
}

.services__btn--left {
  left: -20px;
  background-image: url("../images/left-arrow.svg");
}

.services__btn--right {
  right: -20px;
  background-image: url("../images/right-arrow.svg");
}

.services__title {
  margin: 0;
  margin-bottom: 80px;
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  line-height: 54px;
  color: var(--main-text-color);
}

.services__list {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: start;
  width: 1223px;
  margin: 0 auto;
  overflow-x: hidden;
}

.services__item {
  display: flex;
  flex-shrink: 0;
  width: 193px;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  background-color: var(--main-white-color);
}

.services__item:hover {
  opacity: 0.8;
  background-color: var(--main-white-color);
}

.services__item:active {
  opacity: 0.6;
  border-color: transparent;
  background-color: var(--main-white-color);
}

.services__item:not(:nth-child(6),
  :nth-child(12)) {
  margin-right: 13px;
}

.services__link {
  display: block;
  width: 100%;
  padding: 30px 32px 39px 35px;
  padding-right: 32px;
  padding-left: 35px;
}

.services__item--active {
  border-radius: 5px 5px 0px 0px;
  border: none;
}

.services__item--active .site-nav__link {
  padding-bottom: 42px;
}

.services__item:first-child .services__link {
  padding-bottom: 42px;
}

.services__item:nth-child(2) .services__link {
  padding-bottom: 28px;
}

.services__item:nth-child(3) .services__link {
  padding-bottom: 28px;
}

.services__item:nth-child(5) .services__link {
  padding-bottom: 28px;
}

.services__item:nth-child(7) .services__link {
  padding-bottom: 28px;
}

.services__item:nth-child(9) .services__link {
  padding-bottom: 28px;
}

/* for background image */

.services__item:nth-child(2) .services__link::before {
  width: 61px;
  background-image: url("../images/withdog.svg");
}

.services__item:nth-child(3) .services__link::before {
  width: 72px;
  background-image: url("../images/xirrurg.svg");
}

.services__item:nth-child(4) .services__link::before {
  width: 76px;
  height: 76px;
  margin-bottom: 34px;
  background-image: url("../images/dermotology.svg");
}

.services__item:nth-child(5) .services__link::before {
  width: 78px;
  height: 78px;
  margin-bottom: 21px;
  background-image: url("../images/laborotory.svg");
}

.services__item:nth-child(6) .services__link::before {
  width: 76px;
  height: 76px;
  margin-bottom: 33px;
  background-image: url("../images/oftalmology.svg");
}

.services__item:nth-child(7) .services__link::before {
  width: 77px;
  margin-bottom: 21px;
  background-image: url("../images/uzi.svg");
}

.services__item:nth-child(8) .services__link::before {
  width: 40px;
  margin-bottom: 33px;
  background-image: url("../images/mouse.svg");
}

.services__item:nth-child(9) .services__link::before {
  width: 87px;
  height: 78px;
  background-image: url("../images/passport.svg");
}

.services__item:nth-child(10) .services__link::before {
  width: 68px;
  height: 76px;
  margin-bottom: 33px;
  background-image: url("../images/vacsine.svg");
}

.services__item:nth-child(11) .services__link::before {
  width: 78px;
  height: 78px;
  margin-bottom: 32px;
  background-image: url("../images/stomotology.svg");
}

.services__item:nth-child(12) .services__link::before {
  width: 77px;
  margin-bottom: 33px;
  background-image: url("../images/call.svg");
}


.services__link::before {
  display: block;
  margin: 0 auto 22px auto;
  width: 54px;
  height: 77px;
  content: "";
  background-image: url("../images/doctor.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.services__desc {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-text-color);
}

.services__bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1223px;
  padding: 41px 105px 41px 35px;
  background-color: var(--main-white-color);
  border-radius: 0px 5px 5px 5px;
}

.services__pic {
  width: 524px;
  height: 329px;
}

.services__info {
  width: 492px;
  text-align: left;
}

.services__info-title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 20px;
  color: var(--main-text-color);
}

.services__text {
  margin: 0;
  margin-bottom: 34px;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 20px;
  color: #949494;
}

.services__text--first {
  margin-bottom: 9px;
}

.services__info-link {
  display: flex;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-white-color);
  border-radius: 3px;
}

.services__link-box {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.services__info-link::before {
  margin-right: 6px;
  width: 21px;
  height: 21px;
  content: "";
  background-image: url("../images/link-money.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.services__info-link:nth-child(2)::before {
  background-image: url("../images/link-document.svg");
}

.services__info-link:nth-child(1) {
  margin-right: 21px;
  padding: 15px 36px 16px 35px;
  background-color: var(--main-link-hover-color);
}

.services__info-link:nth-child(1):hover {
  columns: var(--main-link-hover-color);
  background-color: var(--main-text-color);
  transition: all 0.3s ease;
}

.services__info-link:nth-child(1):active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.services__info-link:nth-child(2) {
  padding: 15px 37px 14px 37px;
  background-color: var(--main-text-color);
}

.services__info-link:nth-child(2):hover {
  color: var(--main-text-color);
  background-color: var(--main-link-hover-color);
  transition: all 0.3s ease;
}

.services__info-link:nth-child(2):active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* SUBSCRIBE SECTION START */

.subscribe {
  padding-top: 90px;
  padding-bottom: 88px;
  background-image: url("../images/cours-bgi.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe__info-box {
  position: relative;
  z-index: 1;
  margin-left: 225px;
  width: 545px;
}

.subscribe__info-box::after {
  position: absolute;
  top: -175%;
  right: -100%;
  z-index: 3;
  width: 613px;
  height: 481px;
  content: "";
  background-image: url("../images/dog.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.subscribe__title {
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  line-height: 20px;
  color: var(--main-white-color);
}

.subscribe__form {
  display: flex;
  margin-top: 49px;
}

.subscribe__input {
  display: inline-block;
  margin-right: 21px;
  padding: 16px 0 10px 20px;
  width: 335px;
  outline: none;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 20px;
  color: var(--main-text-color);
  border: 2px solid transparent;
  border-radius: 5px;
}

.subscribe__input:not(:placeholder-shown):not(:focus):valid {
  border-color: var(--main-link-hover-color);
}

.subscribe__input:not(:placeholder-shown):not(:focus):invalid {
  color: #DC4D41;
  border-color: #DC4D41;
}

.subscribe__input:focus {
  border-color: var(--main-link-hover-color);
}

.subscribe__input::placeholder {
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 20px;
  color: #949494;
}

.subscribe__btn {
  display: inline-block;
  padding: 15px 53px 14px 51px;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-white-color);
  background-color: var(--main-text-color);
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.subscribe__btn:hover {
  color: var(--main-text-color);
  background-color: var(--main-link-hover-color);
  transition: all 0.3s ease;
}

.subscribe__btn:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}


/* ARTICLES SECTION START */

.articles {
  padding-top: 216px;
  margin-bottom: 265px;
}

.articles__inner {
  text-align: center;
}

.articles__title {
  margin: 0;
  margin-bottom: 80px;
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  line-height: 20px;
  color: var(--main-text-color);
}

.articles__list {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

.articles__item {
  width: 305px;
  background-color: var(--main-white-color);
  border-radius: 5px;
}

.articles__item:not(:last-child) {
  margin-right: 24px;
}

.articles__item--active {
  width: 640px;
  display: flex;
}

.articles__item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}

/* .articles__item:hover .articles__link {
  color: var(--main-link-hover-color);
}

.articles__item:hover .articles__link {
  color: var(--main-text-color);
  opacity: 0.7;
} */

.articles__item:active {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.articles__item--active .articles__item-img-box {
  width: 305px;
  height: 436px;
}

.articles__item--active .articles__item-box {
  padding: 41px 34px 34px 30px;
}

.articles__item--active .articles__note {
  display: block;
}

.articles__item--active .articles__heading {
  padding-top: 29px;
  padding-bottom: 15px;
}

.articles__item--active .articles__desc--top {
  margin-bottom: 0;
}

.articles__item--active .articles__desc--bottom {
  display: block;
}

.articles__item--active .articles__item-box {
  border: 1px solid #E4E4E2;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.articles__item--active .articles__desc-box {
  width: 270px;
}

.articles__item-img-box {
  width: 100%;
  height: 180px;
  background-image: url("../images/cat-smile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.articles__item:nth-child(2) .articles__item-img-box {
  background-image: url("../images/dogandcat.png");
}

.articles__item:nth-child(3) .articles__item-img-box {
  background-image: url("../images/pitomtsadog.png");
}

.articles__item-box {
  padding: 21px 22px 39px 30px;
  border: 1px solid #E4E4E2;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.articles__item-top {
  display: flex;
  align-items: center;
  text-align: right;
}

.articles__note {
  display: none;
  margin-right: 7px;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
}

.articles__time {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-left: auto;
}

.articles__title-box {
  width: 182px;
}

.articles__heading {
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  text-align: left;
}

.articles__desc-box {
  width: 244px;
}

.articles__desc {
  margin: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 20px;
  color: #949494;
  text-align: left;
}

.articles__desc--top {
  margin-bottom: 34px;
}

.articles__desc--bottom {
  display: none;
  margin-bottom: 29px;
}

.articles__link {
  position: relative;
  z-index: 1;
  display: flex;
  margin-left: 25px;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-text-color);
  transition: all 0.3s ease;
}

.articles__link::before {
  position: absolute;
  top: 0;
  left: -13%;
  z-index: 3;
  width: 25px;
  height: 23px;
  content: "";
  background-image: url("../images/pet.svg");
  background-size: cover;
}

.articles__link:hover {
  color: var(--main-link-hover-color);
  transition: all 0.3s ease;
}

.articles__link:active {
  color: var(--main-text-color);
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* FEEDBACK SECTION START */

.feedback {
  margin-bottom: 247px;
  padding-top: 62px;
  padding-bottom: 74px;
  background-image: url("../images/feedback-bgi.svg");
  background-size: 962px 624px;
  background-position: calc(50% + 198px) 0;
  background-repeat: no-repeat;
  background-color: var(--main-text-color);
}

.feedback__inner {
  position: relative;
  z-index: 1;
}

.feedback__iframe {
  position: absolute;
  top: -62px;
  left: -46px;
  z-index: 3;
  width: 462px;
  height: 646px;
  border: none;
}

.feedback__info {
  position: relative;
  z-index: 1;
  margin-right: 378px;
  margin-left: auto;
  width: 375px;
}

.feedback__info::after {
  position: absolute;
  top: 20%;
  right: -118%;
  z-index: 3;
  width: 411px;
  height: 411px;
  content: "";
  background-image: url("../images/fish.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.feedback__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.feedback__text {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.feedback__input {
  display: block;
  margin-bottom: 14px;
  padding: 14px 0 11px 20px;
  width: 100%;
  outline: none;
  border: 2px solid transparent;
}

.feedback__input:not(:placeholder-shown):not(:focus):valid {
  border-color: var(--main-link-hover-color);
}

.feedback__input:not(:placeholder-shown):not(:focus):invalid {
  color: #DC4D41;
  border-color: #DC4D41;
}

.feedback__input:focus {
  border-color: var(--main-link-hover-color);
}

.feedback__input-messege {
  margin-bottom: 30px;
  padding: 17px 0 0 22px;
  width: 100%;
  height: 165px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  overflow-y: hidden;
  resize: none;
  border-color: transparent;
}

.feedback__btn {
  display: inline-block;
  padding: 15px 49px 14px 50px;
  color: var(--main-white-color);
  border: none;
  background-color: var(--main-link-hover-color);
  transition: all 0.3s ease;
}

.feedback__btn:hover {
  columns: var(--main-link-hover-color);
  background-color: var(--main-text-color);
  transition: all 0.3s ease;
}

.feedback__btn:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* SITE FOOTER START */

.site-footer {
  padding: 54px 0 23px 0;
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
}

.inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo__img--footer {
  position: static;
}

.list__item:not(:last-child) {
  margin-bottom: 14px;
}

.list__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-text-color);
  transition: all 0.3s ease;
}

.list__link:hover {
  color: #FFBD54;
  transition: all 0.3s ease;
}

.list__link:active {
  color: #333333b3;
  transition: all 0.3s ease;
}

.inner__time {
  display: flex;
  flex-direction: column;
}

.inner__tel {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.inner__tel::before {
  position: absolute;
  top: 0%;
  left: -25px;
  z-index: 3;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../images/phone.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.inner__tel-link {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.inner__tel-link:not(:last-child) {
  margin-bottom: 4px;
}

.inner__tel-link:hover {
  color: var(--main-link-hover-color);
}

.inner__tel-link:active {
  color: var(--main-text-color);
  opacity: 0.6;
}

.site-footer__span {
  display: flex;
  justify-content: flex-end;
}

.inner__span-box {
  display: block;
}

.inner__addres-link {
  position: relative;
}

.inner__addres-link::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 16px;
  height: 16px;
}


/* SERVICES PAGE START */

.services-hero {
  padding-top: 118px;
  padding-bottom: 169px;
  background-image: url("../images/services-perrot.png");
  background-repeat: no-repeat;
  background-size: 435px 435px;
  background-position: calc(50% + 485px) -26px;
}

.services-hero__info {
  width: 447px;
  margin-left: 110px;
  margin-bottom: 140px;
}

.services-hero__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: var(--font-weight-bold);
  font-size: 70px;
  line-height: 64px;
  color: var(--main-text-color);
}

.services-hero__text {
  margin: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 20px;
  color: #949494;
}

.services-hero__list {
  display: grid;
  grid-template: repeat(3, auto) / repeat(4, 305px);
  row-gap: 34px;
  column-gap: 30px;
}

.services-hero__item {
  padding: 58px 22px 45px 53px;
  background-color: #fff;
  background-image: url("../images/services-pet.svg");
  background-repeat: no-repeat;
  background-size: 128px 114px;
  background-position: top right;
  border-radius: 5px 5px 0px 0px;
}

.services-hero__item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.services-hero__item:active {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.3));
}

.services-hero__item::before {
  display: block;
  width: 54px;
  height: 77px;
  margin-bottom: 21px;
  content: "";
  background-image: url("../images/doctor.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.services-hero__item:nth-child(2)::before {
  width: 61px;
  margin-bottom: 22px;
  background-image: url("../images/withdog.svg");
}

.services-hero__item:nth-child(3)::before {
  width: 72px;
  background-image: url("../images/xirrurg.svg");
}

.services-hero__item:nth-child(4)::before {
  width: 76px;
  height: 76px;
  background-image: url("../images/dermotology.svg");
}

.services-hero__item:nth-child(5)::before {
  width: 78px;
  height: 78px;
  background-image: url("../images/laborotory.svg");
}

.services-hero__item:nth-child(6)::before {
  width: 76px;
  height: 76px;
  margin-bottom: 23px;
  background-image: url("../images/oftalmology.svg");
}

.services-hero__item:nth-child(7)::before {
  width: 77px;
  background-image: url("../images/uzi.svg");
}

.services-hero__item:nth-child(8)::before {
  width: 40px;
  margin-bottom: 22px;
  background-image: url("../images/mouse.svg");
}

.services-hero__item:nth-child(9)::before {
  width: 87px;
  height: 78px;
  background-image: url("../images/passport.svg");
}

.services-hero__item:nth-child(10)::before {
  width: 68px;
  height: 76px;
  margin-bottom: 22px;
  background-image: url("../images/vacsine.svg");
}

.services-hero__item:nth-child(5)::before {
  width: 78px;
  height: 78px;
  background-image: url("../images/stomotology.svg");
}

.services-hero__item:nth-child(12)::before {
  width: 77px;
  margin-bottom: 22px;
  background-image: url("../images/call.svg");
}

.services-hero__heading {
  margin: 0;
  margin-bottom: 14px;
  font-size: 31px;
  line-height: 34px;
  color: var(--main-text-color);
}

.services-hero__desc {
  margin: 0;
  margin-bottom: 26px;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 20px;
  color: #949494;
}

.services-hero__link {
  display: inline-block;
  padding: 15px 29px 14px 30px;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-white-color);
  border-radius: 3px;
}

.services-hero__item:nth-child(even) .services-hero__link {
  background-color: #78C0DE;
}

.services-hero__item:nth-child(odd) .services-hero__link {
  background-color: var(--main-link-hover-color);
}

.services-hero__item:nth-child(odd) .services-hero__link:hover {
  color: var(--main-link-hover-color);
  background-color: var(--main-text-color);
}

.services-hero__item:nth-child(odd) .services-hero__link:active {
  opacity: 0.6;
}


/* CODE TO RETINA BACKGROUND IMAGES */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .hero {
    background-image: url("../images/hero-bgi@2x.png"), url("../images/parrot@2x.png");
  }

  .articles__item:nth-child(1) .articles__item-img-box {
    background-image: url("../images/cat-smile@2x.png");
  }

  .articles__item:nth-child(2) .articles__item-img-box {
    background-image: url("../images/dogandcat@2x.png");
  }

  .articles__item:nth-child(3) .articles__item-img-box {
    background-image: url("../images/pitomtsadog@2x.png");
  }

  .feedback__info::after {
    background-image: url("../images/fish@2x.png");
  }

  .subscribe__info-box::after {
    background-image: url("../images/dog@2x.png");
  }

  .services-hero {
    background-image: url("../images/services-perrot@2x.png");
  }

}

/* CODE TO RETINA BACKGROUND IMAGES */

/* CUSTOM STYLES FOR MODAL WINDOW */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #ffffffe6;
}

.modal--show {
  display: block;
}

.modal__window {
  position: relative;
  z-index: 20;
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 119px 51px 137px 70px;
  background-color: var(--main-link-hover-color);
  background-image: url("../images/modal-bgi.svg");
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: slidedown;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes slidedown {
  from {
    transform: translateY(-2000px);
  }

  to {
    transform: translateY(0);
  }
}

.modal__btn {
  position: absolute;
  top: 21px;
  left: 20px;
  z-index: 30;
  width: 18px;
  height: 18px;
  background-image: url("../images/plus-btn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__inner {
  display: flex;
  justify-content: space-between;
}

.modal__inner::after {
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 350px;
  height: 324px;
  content: "";
  background-image: url("../images/modal-dog.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.modal__start {
  margin-top: 30px;
}

.modal__span {
  display: block;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 30px;
  color: var(--main-text-color);
}

.modal__link {
  display: flex;
  padding: 14px 36px 15px 35px;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-text-color);
  background-color: var(--main-white-color);
}

.modal__link::before {
  width: 20px;
  height: 20px;
  margin-right: 13px;
  content: "";
  background-image: url("../images/google-icon.svg");
  background-size: contain;
}

.modal__link--facebook {
  margin-top: 21px;
  padding-right: 35px;
  padding-left: 22px;
}

.modal__link--facebook::before {
  margin-right: 14px;
  background-image: url("../images/facebook-icon.svg");
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: var(--font-weight-bold);
  font-size: 50px;
  line-height: 54px;
  color: var(--main-text-color);
  text-align: right;
}

.modal__name {
  display: block;
  width: 335px;
  margin-bottom: 21px;
  padding: 14px 0 11px 20px;
  background-color: var(--main-white-color);
  border: 2px solid transparent;
  outline: none;
}

.modal__name:focus {
  border-color: var(--main-link-hover-color);
}

.modal__name:not(:placeholder-shown):not(:focus):valid {
  border-color: var(--main-link-hover-color);
}

.modal__name:not(:placeholder-shown):not(:focus):invalid {
  color: #DC4D41;
  border-color: #DC4D41;
}

.modal__name::placeholder {
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 21px;
  color: #949494
}

.modal__messege {
  width: 335px;
  height: 165px;
  margin-bottom: 27px;
  padding: 15px 0 0 20px;
  outline: none;
  border: none;
  resize: none;
  border: 2px solid transparent;
}

.modal__messege:focus {
  border-color: var(--main-link-hover-color);
}

.modal__messege::placeholder {
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: 21px;
  color: #949494;
}

.modal__submit-btn {
  display: block;
  padding: 14px 67px 15px 55px;
  font-size: var(--main-font-size);
  line-height: 21px;
  color: var(--main-white-color);
  background-color: #000;
  border: none;
  cursor: pointer;
}



/* CUSTOM STYLES FOR MODAL WINDOW */